@charset "ISO-8859-1";
#sidebar {
  padding-bottom: 30px;
  top: 10px;
  border-right: 2px solid #f3b0bd;
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: fixed;
  height: 100vh;
  box-sizing: border-box;
  background-color: white;
  bottom: 0;
}
#sidebar .logo {
  margin: 10px 0px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}
#sidebar #logo {
  font-size: 30px;
  width: auto;
  color: #f0718a;
}
#sidebar .icons {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 190px 0px;
}
#sidebar .icons i,
.sidebar .options i {
  margin: 10px 0px;
  font-size: 15px;
  padding: 15px;
  border-radius: 50%;
  width: auto;
  color: #485878;
}
#sidebar .icons .active,
#sidebar .options .active {
  background-color: #fa897b;
  color: white;
}
